name: Update IPTV Playlist
on:
  schedule:
    - cron: '0 */6 * * *'
jobs:
  update_playlist:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install requests
        run: |
          python -m pip install --upgrade pip
          pip install requests
      - name: Run update_playlist.py
        run: |
          python update_playlist.py
      - name: Commit and push changes
        run: |
          git config --local user.email 'action@github.com'
          git config --local user.name 'GitHub Action'
          git add .
          git commit -m 'Update playlist'
          git push
